<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Leetchi_MopV2>
            <version>0.1.0</version>
        </Leetchi_MopV2>
    </modules>
    <frontend>
        <routers>
            <mopv2>
                <use>standard</use>
                <args>
                    <module>Leetchi_MopV2</module>
                    <frontName>mopv2</frontName>
                </args>
            </mopv2>
        </routers>
        <layout>
            <updates>
                <mopv2>
                    <file>leetchi_mopv2.xml</file>
                </mopv2>
            </updates>
        </layout>
        <translate>
            <modules>
                <Leetchi_MopV2>
                    <files>
                        <default>Leetchi_MopV2.csv</default>
                    </files>
                </Leetchi_MopV2>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <leetchi_mopv2>
                <class>Leetchi_MopV2_Model</class>
            </leetchi_mopv2>
            <leetchi_mopv2_mysql4>
                <class>Leetchi_MopV2_Model_Mysql4</class>
                <entities></entities>
            </leetchi_mopv2_mysql4>
        </models>
        <helpers>
            <leetchi_mopv2>
                <class>Leetchi_MopV2_Helper</class>
            </leetchi_mopv2>
        </helpers>
        <blocks>
            <leetchi_mopv2>
                <class>Leetchi_MopV2_Block</class>
            </leetchi_mopv2>
        </blocks>
        <resources>
            <leetchi_mopv2_setup>
                <setup>
                    <module>Leetchi_MopV2</module>
                    <class>Leetchi_MopV2_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </leetchi_mopv2_setup>
        </resources>
    </global>
    <default>
        <payment>
            <mopv2>
                <model>leetchi_mopv2/method_mopv2</model>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <active>0</active>
                <test>1</test>
                <test_url>http://mop.leetchi.com/staging.js</test_url>
                <prod_url>http://mop.leetchi.com/</prod_url>
                <title>Leetchi Meaning Of Payment 2.0</title>
                <merchant_key></merchant_key>
                <callback_url>mopv2/leetchi/status</callback_url>
                <return_url>checkout/onepage/success</return_url>
                <cancel_url>mopv2/leetchi/cancel</cancel_url>
                <payment_description>Your payment description</payment_description>
            </mopv2>
        </payment>
    </default>
</config>
